*{
    margin: 0;
    padding: 0;
    font-family: candara;
   
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


/*Alt design i body */
    body {
    font-family: Arial;
    background-image: url(mønsteeer.jpg);
    }


/* Styling af navbar */
    nav {
    display: flex;
    background-color:#D7B2B2;
    }
  
    