*{
    margin: 0;
    padding: 0;
    font-family: candara;
   
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


/*Alt design i body */
    body {
    font-family: Arial;
    background-image: url(mønsteeer.jpg);
    }


/* Styling af navbar */
    nav {
    display: flex;
    background-color:#D7B2B2;
    }
  

/* Styling af linksene på navbar*/ 
    nav a {
    color: black;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    }
    

/* Styling af farveskift med musen på navbar */
    nav a:hover {
    background-color: #ddd;
    color: rgb(158, 126, 126);
    }


* Center website */
    .mineprojekter {
    max-width: 1000px;
    margin: auto;
    }
  
    
/*Overskriften til mine projekter*/
    .mineprojekter h2 {
    font-size: 50px;
    text-align: center;
    color: #99606E;
    padding-top: 20px;
    }

