* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: candara;
  }


    body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(mønsteeer.jpg);
    }


/* Styling af menubar */
    nav {
	display: flex;
	background-color: #D7B2B2;
	}