*{
    margin: 0;
    padding: 0;
    font-family: candara;

    
}

.grid-container-ommig {
  display: grid, flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header"
  "picture picture aside aside"
  "article article article article"
  "main main main main"
  "footer footer footer footer"
  ;

}

/*Baggrundsbillede på hele siden*/
    body {
    background-image: url(mønsteeer.jpg);
    }


/*Styling af headeren*/
    header {
    grid-area: header;
    }


/* Styling af navbar */
    nav {
	display: flex;
	background-color: #D7B2B2;
	}


/* Styling af linksene på navbar*/ 
  nav a {
	color: white;
	padding: 15px;
	text-decoration: none;
    text-align: center;
    z-index: 3;
	}
  

/* Styling af farveskift med musen på navbar */
    nav a:hover {
	background-color: #ddd;
	color: rgb(158, 126, 126);
    }


/*Styling af billedet af mig*/
    .mig{
    width: 400px;
    height: 550px;
    }
  

/*Styling af sektionen "indhold"*/
    .indhold{
    width:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
    grid-area: main;
    }


/*Styling af seksionen "indhold-tekst""*/
    .indhold-tekst{
    width:500px;
    grid-area: aside;
    padding-top: 175px;
    margin-left: 55%;
    }


/*Design af titel "Velkommen til min portfolio"*/
    .indhold-tekst h2{
    font-size: 3.5rem;
    color: #99606E;
    margin:0px 0px 10px 0px;
    line-height: 60px;
    text-align: center;
    }


/*Design af undertekst til "velkommen til min portfolio"*/
    .indhold-tekst p{
    color: black;
    text-align: center;
    line-height: 25px;
    }


/*Design af knappen til "download cv"*/
    .portfolio-btn{
	width: 200px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color:#C8EFE0;
	border-radius: 30px;
	margin-left: 30%;
    border-style: solid;	
    margin-top: 20px;
    }


/*Design af farveskift, når man tager musen på knappen*/
  .portfolio-btn:hover{
  background-color: #40af99;
  }